<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=farm.name %></title>
  </head>
  <body>
    <h1>More info</h1>
    <h2><%= farm.name %></h2>
    <h3>
      <ul>
        <li><%= farm.location %></li>
        <li><%= farm.email %></li>
      </ul>
    </h3>
    <h2>Products</h2>
    <ul>
      <% for(let product of farm.products){%>
      <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
      <% } %>
    </ul>
    <form action="/farms/<%=farm._id  %>?_method=delete" method="post">
      <button>Delete</button>
    </form>
    <a href="/farms">All farms</a>
    <br />
    <a href="/farms/<%=farm._id  %>/products/new">Add product to farm</a>
  </body>
</html>
