<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit <%= product.name %></h1>
    <form action="/products/<%=product._id  %>?_method=PUT" method="post">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        placeholder="Name"
        id="name"
        value="<%=product.name %>"
      />
      <br />
      <br />
      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        placeholder="Price"
        id="price"
        value="<%= product.price  %>"
      />
      <br />
      <br />
      <label for="category">Category</label>
      <select name="category" id="category">
        <% for(let category of categories){%>
        <option value="<%= category %>"<%=product.category === category ? "selected":""  %>><%= category %></option>
        <%} %>
      </select>
      <button>Submit</button>
    </form>
    <a href="/products/<%= product._id %>">Back to product</a>
  </body>
</html>
